.banner {
  margin-bottom: 24px;
}

.banner__container {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, #CBD623 0%, #41701E 100%);
  border-radius: 8px;
  padding: 8px 15px;
}

.banner__title {
  font-family: "Graphik", "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  margin: 0 0 4px 0;
}

.banner__text {
  font-family: "Graphik", "Roboto", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  opacity: 50%;
  margin: 0;
}
