.footer {
  padding: 16px 16px 24px;
  background-color: #111827;
  display: flex;
}

.footer__img {
  width: 48px;
  height: 48px;
}

.footer__description {
  font-family: "Graphik", "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #6B7280;
  margin: 0 0 0 16px;
}
