.header {
  height: 72px;
  display: flex;
  background-color: #111827;
  color: aliceblue;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
}

.header__buttons {
  display: flex;
  height: 32px;
  gap: 16px;
}

.header__button {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  font-family: "Graphik", "Roboto", sans-serif;
  font-weight: 500;
  color: #ffffff;
}
