@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-Regular/Graphik-Regular.eot');
  src: local('Graphik Regular'), local('Graphik-Regular'),
    url('../fonts/Graphik-Regular/Graphik-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Graphik-Regular/Graphik-Regular.woff2') format('woff2'),
    url('../fonts/Graphik-Regular/Graphik-Regular.woff') format('woff'),
    url('../fonts/Graphik-Regular/Graphik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-Medium/Graphik-Medium.eot');
  src: local('Graphik Medium'), local('Graphik-Medium'),
    url('../fonts/Graphik-Medium/Graphik-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Graphik-Medium/Graphik-Medium.woff2') format('woff2'),
    url('../fonts/Graphik-Medium/Graphik-Medium.woff') format('woff'),
    url('../fonts/Graphik-Medium/Graphik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-SemiBold/Graphik-Semibold.eot');
  src: local('Graphik Semibold'), local('Graphik-Semibold'),
    url('../fonts/Graphik-SemiBold/Graphik-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Graphik-SemiBold/Graphik-Semibold.woff2') format('woff2'),
    url('../fonts/Graphik-SemiBold/Graphik-Semibold.woff') format('woff'),
    url('../fonts/Graphik-SemiBold/Graphik-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-Bold/Graphik-Bold.eot');
  src: local('Graphik Bold'), local('Graphik-Bold'),
    url('../fonts/Graphik-Bold/Graphik-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Graphik-Bold/Graphik-Bold.woff2') format('woff2'),
    url('../fonts/Graphik-Bold/Graphik-Bold.woff') format('woff'),
    url('../fonts/Graphik-Bold/Graphik-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #F3F4F6;
}

.body_noScroll {
  overflow: hidden;
}

.container {
  padding: 0 8px;
}

.slider {
  width: 100%;
  display: flex;
  gap: 16px;
  padding: 0 8px;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slider::-webkit-scrollbar {
  display: none;
}
