.menu {
  display: none;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: 0;
  top: 72px;
  height: calc(100% - 72px);
  background-color: #111827;
}

.menu_active {
  display: flex;
}

.menu__authButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 40px;
  border-radius: 8px;
  text-decoration: none;
  font-family: "Graphik", "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  background-color: #1F2937;
  margin: 16px 0;
}

.menu__userIcon {
  margin-right: 8px;
}

.menu__navList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0;
}

.menu__navItem {
  text-decoration: none;
  font-family: "Graphik", "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  display: flex;
  align-items: center;
  min-height: 56px;
  border-bottom: 1px solid #D1D5DB;
}

.menu__navItem:last-child {
  border: none;
}
