.news {
  margin-bottom: 24px;
}

.news__block {
  width: 100%;
  padding: 0 8px;
}

.news__img {
  border-radius: 8px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}

.news__title {
  font-family: "Graphik", "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin: 8px 0 4px;
  color: #111827;
}

.news__additional {
  display: flex;
  align-items: center;
}

.news__additionalText {
  font-family: "Graphik", "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6B7280;
  margin-right: 8px;
  word-wrap: break-word;
}

.news__eye {
  margin-right: 2px;
}
