.plantsFlowers {
  margin-bottom: 24px;
}

.plantsFlowers__cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.plantsFlowers__card {
  min-width: 144px;
  max-width: 144px;
  min-height: 201px;
  border-radius: 8px;
  background-color: #ffffff;
  padding-bottom: 8px;
}

.plantsFlowers__cardIconContainer {
  height: 88px;
  display: flex;
  align-items: center;
  padding-bottom: 8px;
  justify-content: center;
  background-color: #111827;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
}

.plantsFlowers__cardEvaluation {
  width: 44px;
  height: 16px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
  margin: -8px 50px 0;
  margin-left: 50px;
  border-radius: 2px;
  background-color: #F59E0B;
  padding: 2px 4px;
  font-family: "Graphik", "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
}

.plantsFlowers__cardTitle {
  font-family: "Graphik", "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #111827;
  text-align: center;
  min-height: 37px;
  margin-bottom: 12px;
  word-wrap: break-word;
  padding: 0 8px;
}

.plantsFlowers__cardButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 128px;
  height: 40px;
  border-radius: 8px;
  background-color: #E2FEDB;
  font-family: "Graphik", "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #6BA91A;
  margin: 0 auto;
}
