.plantCare {
  margin-bottom: 24px;
}

.plantCare__slider {
  min-height: 256px;
}

.plantCare__slide {
  min-height: 256px;
  min-width: 240px;
  padding: 8px;
  border-radius: 8px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.plantCare__imageCard {
  margin-bottom: 8px;
}

.planteCare__textContainerCard {
  min-height: 60px;
  height: 100%;
  word-wrap: break-word;
}

.plantCare__titleCard {
  font-family: "Graphik", "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #64A315;
  margin: 0;
}

.plantCare__descriptionCard {
  font-family: "Graphik", "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #111827;
  margin: 0;
}

.plantCare__buttonCard {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  width: 100%;
  min-height: 40px;
  border-radius: 8px;
  background-color: #64A315;
  font-family: "Graphik", "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}
