.recommendations {
  margin: 16px 0 24px;
}

.recommendations__slider {
  min-height: 125px;
}

.recommendations__slide {
  min-height: 125px;
  min-width: 128px;
  text-align: center;
  font-family: "Graphik", "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #111827;
}

.recommendations__iconBlock {
  width: 128px;
  height: 80px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}
