.titleContainer {
  padding: 8px;
  margin: 16px 0 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleContainer__title {
  font-family: "Graphik", "Roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #111827;
  margin: 0;
}

.titleContainer__seeAll {
  text-decoration: none;
  font-family: "Graphik", "Roboto", sans-serif;
  font-weight: 500;
  color: #6BA91A;
}

.titleContainer__seeAll_blue {
  color: #2563EB;
}
